build/
.cache/
.cmake/
.omx/
.stm32-init-backup/
.stm32-workspace-state.json
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
Testing/
Makefile
install_manifest.txt
CMakeUserPresets.json
_deps/
*.elf
*.map
*.bin
*.hex
*.obj
*.o
*.d
*.log
*.tmp
.vscode/settings.json
.vscode/*.code-snippets
.vscode/ipch/
